html{
    font-family: "Noto Sans JP", sans-serif;
}

.container{
    width: 90%;
    max-width: 1220px;
    margin: 0 auto;
    position: relative;
}

/* 横並びのcss */
.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/* ヘッダー */
header{
    padding: 27px 0;
}

.logo img{
    width: 200px;
    height: auto;
}

.header_navpc li{
    margin-left: 38px;
}

/* マウスカーソルを当てると色が変わる */
.header_navpc li a:hover{
    color: #2794CD;
    /* 0.3秒かけて色が変わる */
    transition: .3s;
}
/* マウスカーソルを外すと0.3秒かけて色が戻る */
.header_navpc li a{
    transition: .3s;
}

/* スマホメディアクエリ */
@media only screen and (max-width: 767px) {
    header .container{
        justify-content: center;
    }
    header nav{
        display: none;
    }
}

/* タブレットメディアクエリ */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    header .container{
        justify-content: center;
    }
    header nav{
        display: none;
    }
}


/* -メインビジュアル- */
#hero{
    background-image: url(../img/img3.jpg);
    background-position: center;
    background-size: cover;
    height: 540px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    /* はみ出たところはカット */
    overflow: hidden;
}

/* 擬似要素を追加（上から白いフィルターをかける） */
#hero::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fff;
    /* 全体表示にする */
    /* セットで親要素にposition: relative;を使う */
    position: absolute;
    top: 0;
    left: 0;
    /* 不透明度20% */
    opacity: 0.2;
    z-index: 1;
}

.hero_inner{
    z-index: 2;
    color: #289CF7;
    width: 100%;
    text-align: center;
}

.hero_inner h1{
    font-size: 32px;
    font-weight: 700;
}

/* スマホメディアクエリ */
@media only screen and (max-width: 767px) {
    #hero{height: 460px;
          margin-bottom: 30px;
    }   
    .hero_inner h1{
        font-size: 17px;
        text-align: left;
        margin: 15px;
    }   
}

/* タブレットメディアクエリ */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #hero{height: 500px;
        margin-bottom: 30px;
  }   
  .hero_inner h1{
      font-size: 25px;
  } 
}

/* -お知らせ- */
#news{
    padding-top: 60px;
    margin-bottom: 60px;
}

#news ul{
    max-width: 700px;
    /* 要素を真ん中に寄せる */
    margin: 0 auto;
}

#news li{
    border: solid 1px rgb(51,51,51);
    margin-bottom: 20px;
    padding: 16px 24px;
}

.date{
    color: #528FBB;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 6px;
}

.btn{
    font-size: 18px;
    font-weight: 700;
    padding: 20px 40px;
    display: block;
    color: #fff;
    background-color: #528FBB;
    border-radius: 10px;
    letter-spacing: 2px;
    transition: .3s;
    margin: 0 auto;
    text-align: center;
    width: 180px;
}

#news a:hover{
    background-color: #BFE2FB;
}

/* スマホメディアクエリ */
@media only screen and (max-width: 767px) {   
    #news li{
        font-size: 15px;
    }
    
    .date{
        font-size: 15px;
    }
}

/* タブレットメディアクエリ */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #news li{
        font-size: 17px;
    }
    
    .date{
        font-size: 17px;
    }
}


/* -院長よりご挨拶- */
#greeting{
    padding-top: 60px;
    margin-bottom: 60px;
    margin: 0 auto;
}

.doctor_matsumoto{
    justify-items: center;
}

.doctor_matsumoto img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 18px;
}

.name{
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}

.name span{
    margin-right: 10px;
    font-size: 15px;
}

#greeting_text{
    justify-content: center;
    font-size: 18px;
}

/* スマホメディアクエリ */
@media only screen and (max-width: 767px) {
    #greeting{
        padding-top: 30px;
    }
    #greeting_text{
        font-size: 14px;
        margin-bottom: 30px;
    }
    
}

/* タブレットメディアクエリ */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #greeting{
        padding-top: 30px;
    }
    #greeting_text{
        font-size: 17px;
        margin-bottom: 30px;
    }
}

/* -当院について- */
#about{
    margin-bottom: 120px;
    padding-top: 60px;
}

.title{
    font-size: 30px;
    font-weight: 500;
    color: #4D9FE0;
    margin-bottom: 30px;
    text-align: center;
}

#about h3{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 60px;
    text-align: center;
}

/* 2つの要素を横並びにする */
.column_2{
    width: 45%;
    margin-bottom: 60px;
    justify-items: center;
}

.text{
    /* 行間を設定 */
    line-height: 2;
}

.concept_img{
    background-image: url(../img/2262627_m.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    border-radius: 20px;   
}

#about a:hover{
    background-color: #BFE2FB;
}

/* スマホメディアクエリ */
@media only screen and (max-width: 767px) {
    #about{
        margin-bottom: 30px;
        padding-top: 60px;
    }

    #about h3{
        font-size: 25px;
        font-weight: 500;
        text-align: left;
        line-height: 1.5;
        margin-bottom: 30px;
    }
    .column_2{
        width: 100%;
    }
    .text{
        /* 行間を設定 */
        line-height: 1.7;
        font-size: 14px;
    }
}

/* タブレットメディアクエリ */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #about{
        margin-bottom: 30px;
        padding-top: 60px;
    }

    #about h3{
        font-size: 30px;
        font-weight: 500;
        text-align: left;
        line-height: 1.5;
        margin-bottom: 30px;
    }
}

/* -診療案内- */
#guide{
    padding-top: 60px;
    margin-bottom: 60px;
}

.row{
    display: flex;
    justify-content: space-between;
}

.col{
    width: 23%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.icon{
    width: 130px;
    height: auto;
}

#guide h3{
    font-size: 20px;
    font-weight: 700;
    margin-top: 25px;
}

#guide_btn{
    font-size: 18px;
    font-weight: 700;
    padding: 20px 40px;
    display: block;
    color: #fff;
    background-color: #528FBB;
    border-radius: 10px;
    letter-spacing: 2px;
    transition: .3s;
    margin: 0 auto;
    text-align: center;
    width: 200px;
}

#guide a:hover{
    background-color: #BFE2FB;
}

/* スマホメディアクエリ */
@media only screen and (max-width: 767px) {
    #guide{
        padding-top: 30px;
        margin-bottom: 30px;
    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .col{
        width: 100%;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 60px;
    }
}

/* -スタッフブログ- */
#blog{
    padding-top: 60px;
    margin-bottom: 60px;
}

#blog ul{
    max-width: 700px;
    /* 要素を真ん中に寄せる */
    margin: 0 auto;
}

#blog li{
    border: solid 1px rgb(51,51,51);
    margin-bottom: 20px;
    padding: 16px 24px;
}

#blog a:hover{
    background-color: #BFE2FB;
}

/* スマホメディアクエリ */
@media only screen and (max-width: 767px) {
    #blog{
        margin-bottom: 30px;
    }
    #blog li{
        font-size: 15px;
    }
}
/* タブレットメディアクエリ */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #blog{
        margin-bottom: 30px;
    }
    #blog li{
        font-size: 17px;
    }
}


/* アクセス */
#access{
    padding-top: 60px;
    margin-bottom: 60px;
}
#access_text{
    width: 45%;
    justify-content: center;
}
#access_map{
    width: 45%;
    justify-content: center;
}

/* スマホメディアクエリ */
@media only screen and (max-width: 767px) {
    .access_map iframe{
        width: 350px;
        justify-content: center;
        margin-top: 20px;
    }
    #access_text{
        font-size: 11px;
    }
    #access_inner{
        display: flex;
        flex-direction: column;
    }
}

/* タブレットメディアクエリ */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #access{
        justify-items: center;
    }
    .access_map iframe{
        justify-content: center;
        margin-top: 20px;
        width: 100%;
    }
    #access_text{
        font-size: 15px;
        justify-content: center;
    }
}

/* フッター */
footer{
    padding: 27px 0;
}

.logo img{
    width: 200px;
    height: auto;
}

.footer_navpc li{
    margin-left: 38px;
    margin-bottom: 50px;
}

/* マウスカーソルを当てると色が変わる */
.footer_navpc li a:hover{
    color: #2794CD;
    /* 0.3秒かけて色が変わる */
    transition: .3s;
}

/* マウスカーソルを外すと0.3秒かけて色が戻る */
.footer_navpc li a{
    transition: .3s;
}

#access_info{
    margin-top: 20px;
}

#time_title{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.column_2 table{
    border-collapse: collapse;
    border: solid 3px;
    margin-bottom: 15px;
}

.column_2 table th,
.column_2 table td{
  border: solid 1px;
  text-align: center;
}

table th {/*table内のthに対して*/
  padding: 10px;/*上下左右10pxずつ*/
}

table td {/*table内のtdに対して*/
  padding: 5px 10px;/*上下5pxで左右10px*/
}

.copyright{
    font-size: 12px;
    text-align: center;
}

/* メディアクエリ */
@media only screen and (max-width: 767px) {
    .footer_navpc li{
        display: none;
    }
    #access_info{
        font-size: 12px;
    }
    .column_2 table{
        border: solid 2px;
    }
    table th {
        font-size: 13px;
        padding: 5px;
    }
    table td {
        font-size: 13px;
        padding: 5px 8px;
    }

    .column_2 p{
        font-size: 13px;
    }
    .copyright{
        font-size: 10.5px;
    }
}

/* タブレットメディアクエリ */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footer_navpc li{
        display: none;
    } 
    #access_info{
        font-size: 11px;
        letter-spacing: 1.5;
    } 
}


/* お問い合わせページ　contact.htmlのcss */
#contact_hero{
    background-image: url(../img/23832451_m.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    /* はみ出たところはカット */
    overflow: hidden;
}

/* 擬似要素を追加（上から白いフィルターをかける） */
#contact_hero::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fff;
    /* 全体表示にする */
    /* セットで親要素にposition: relative;を使う */
    position: absolute;
    top: 0;
    left: 0;
    /* 不透明度20% */
    opacity: 0.2;
    z-index: 1;
}


#contact{
    padding-top: 60px;
    margin-bottom: 130px;
}

#contact h1{
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

#contact hr{
    border: solid 3px #4D9FE0;
    margin: 0 auto 40px auto;
    width: 250px;
}

#contact p{
    text-align: center;
    margin-bottom: 80px;
}

#contact form{
    max-width: 540px;
    margin: 0 auto;
}

#contact label{
    /* 横方向に100% */
    display: block;
    margin-bottom: 20px;
    font-weight: 500;
}

#contact input, #contact textarea{
    background-color: #fff;
    /* displayとwidthで横幅100% */
    display: block;
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 30px;
    color: rgb(51,51,51);
    border: solid 1px rgb(51,51,51);
}

/* []で送信ボタンのみを指定 */
#contact input[type=submit]{
    text-align: center;
    background-color: #528FBB;
    color: #fff;
    font-weight: 700;
    padding: 20px 15px;
    letter-spacing: 6px;
    border-radius: 10px;
    /* カーソルから外すと0.3秒かけて色が変わる */
    transition: .3s;
    margin-top: 50px;
}

/* カーソルを当てると色が変わる */
#contact input [type=submit]:hover{
    background-color: #BFE2FB;
}



/*　当院についてのページ　about.htmlのcss */

#about_hero{
    background-image: url(../img/img6.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    /* はみ出たところはカット */
    overflow: hidden;
}

/* 擬似要素を追加（上から白いフィルターをかける） */
#about_hero::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fff;
    /* 全体表示にする */
    /* セットで親要素にposition: relative;を使う */
    position: absolute;
    top: 0;
    left: 0;
    /* 不透明度20% */
    opacity: 0.2;
    z-index: 1;
}

#about_content{
    padding-top: 60px;
    margin-bottom: 130px;
}

#about_content h1{
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

#about_content hr{
    border: solid 3px #4D9FE0;
    margin: 0 auto 40px auto;
    width: 250px;
}

.feature_inner{
    margin-bottom: 60px;
    padding: 30px;
}

.about_column_55{
    width: 55%;
}

.about_column_55 img{
    border-radius: 20px;
}

.about_column_40{
    width: 40%;
    background-color: #D1EAFF;
    justify-items: center;
    border-radius: 15px;
}

#about_content h3{
    margin: 20px 20px 20px 30px;
    font-size: 25px;
}

#about_content p{
    font-size: 17px;
    margin-bottom: 20px;
}

.important_inner{
    margin-bottom: 60px;
    padding: 30px;
}


.about_column_45{
    width: 45%;
}

.about_column_45 img{
    border-radius: 25px;
}

.about_column_45_text{
    width: 45%;
    background-color: #D1EAFF;
    justify-items: center;
    border-radius: 15px;
    padding: 0 55px;
}

.column_45_text_yobou{
    width: 45%;
    justify-items: center;
    border-radius: 15px;
    padding: 0 40px;
}

/* スマホメディアクエリ */
@media only screen and (max-width: 767px) {
    #about_hero{height: 150px;}
    #about_content{
        padding-top: 30px;
        margin-bottom: 60px;
    }
    #about_content h1{font-size: 30px;}
    
    #about_content hr{width: 220px;}

    .feature_inner{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .about_column_55{
        width: 100%;
    }
    .about_column_55 img{
        width: 100%;
        border-radius: 20px;
        margin-bottom: 30px;
    }
    .about_column_40{
        width: 100%;
        border-radius: 15px;
        padding: 5px 10px;
    }
    #about_content h3{
        margin: 20px;
        font-size: 20px;
    }
    #about_content p{
        font-size: 15px;
        margin-bottom: 30px;
        margin-left: 10px;
    }
    .title{
        font-size: 27px;
    }
    .about_column_45{
        width: 100%;
    }
    
    .about_column_45_text{
        width: 100%;
    }
    #reverse{
        flex-direction: column-reverse;
    }
    .column_45_text_yobou{
        width: 100%;
    }
    .important_inner{
        margin-bottom: 30px;
        padding: 0 30px 20px 30px;
    }
}

/* タブレットメディアクエリ */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #about_content h1{font-size: 27px;}
    
    #about_content hr{width: 200px;}

    .title{font-size: 25px;}

    .feature_inner{
        margin-bottom: 30px;
    }

    .about_column_55{
        width: 50%;
    }

    .about_column_40{
        width: 45%;
    }

    #about_content h3{
        margin: 20px 20px 20px 30px;
        padding: 0 10px;
        font-size: 20px;
        text-align: center;
    }
    
    #about_content p{
        font-size: 15px;
        margin-bottom: 20px;
        padding: 0 10px;
    }

    .about_column_45{
        width: 100%;
    }
    .about_column_45_text{
        width: 100%;
    }
    #reverse{
        flex-direction: column-reverse;
    }
    .column_45_text_yobou{
        width: 95%;
    }
    .important_inner{
        margin-bottom: 30px;
        padding: 0 30px 20px 30px;
        justify-content: center;
    }
}

/*　スタッフのページ　staff.htmlのcss */

#staff_hero{
    background-image: url(../img/24281336_m.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    /* はみ出たところはカット */
    overflow: hidden;
}

/* 擬似要素を追加（上から白いフィルターをかける） */
#staff_hero::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fff;
    /* 全体表示にする */
    /* セットで親要素にposition: relative;を使う */
    position: absolute;
    top: 0;
    left: 0;
    /* 不透明度20% */
    opacity: 0.2;
    z-index: 1;
}

#staff{
    padding-top: 60px;
    margin-bottom: 130px;
}

#staff h1{
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

#staff hr{
    border: solid 3px #4D9FE0;
    margin: 0 auto 40px auto;
    width: 250px;
}

.staff_inner{
    margin-bottom: 60px;
    padding: 30px;
}

.column_35{
    width: 35%;
}

.column_55{
    width: 55%;
}

.column_35 img{
    width: 100%;
    border-radius: 50%;
}

.staff_name{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.staff_name span{
    margin-right: 10px;
    font-size: 15px;
    font-weight: 400;
}

#staff_text{
    font-size: 18px;
    margin-bottom: 30px;
}

#suzuki img{
    border-radius: 0;
    object-fit: cover;
    width: 300x;
    height: 300px;
    border-radius: 80px;
}


/*　診療案内のページ　guide.htmlのcss */
#guide_hero{
    background-image: url(../img/img1.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    /* はみ出たところはカット */
    overflow: hidden;
}

/* 擬似要素を追加（上から白いフィルターをかける） */
#guide_hero::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fff;
    /* 全体表示にする */
    /* セットで親要素にposition: relative;を使う */
    position: absolute;
    top: 0;
    left: 0;
    /* 不透明度20% */
    opacity: 0.2;
    z-index: 1;
}

#guide_content{
    padding-top: 60px;
    margin-bottom: 130px;
}

#guide_content h1{
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

#guide_content hr{
    border: solid 3px #4D9FE0;
    margin: 0 auto 40px auto;
    width: 250px;
}

.guide_inner{
    margin-bottom: 60px;
    padding: 30px;
    margin-top: 30px;
}

.column_item_icon{
    width: 30%;
    justify-items: center;
}

.column_item_icon img{
    width: 180px;
    height: auto;
}

.guide_title{
    font-size: 33px;
    font-weight: 600;
    margin-top: 20px;
}

.column_item_text{
    width: 64%;
}

.guide_text{
    font-size: 20px;
    margin-bottom: 20px;
}